<h1>Resultado de la busqueda</h1>
<% form_tag({:controller => "usuarios", :action => "index"}, :method => 'GET') do %>
<%= text_field_tag :busqueda %>
<%= submit_tag "Buscar", :name => "" %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Correo Electronico</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>

    <td><%= link_to usuario.id, :controller => "pacientes", :action => "datos", :id => Paciente.find(Usuario.find(usuario.datos_id)) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Doctor', new_doctor_path %> |

