<h1>Welcome <%=h @usuario.nombre %></h1>
<fieldset>
<legend>Datos del usuario</legend>
<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %> 
</p>

<p>
<b>Correo:</b>
<%=h @usuario.correoElectronico%>
</p>

<p>
<b>Telefono:</b>
<%=h @usuario.telefono%>
</p>

</fieldset>
